:host {
  display: block;
  margin: 16px;
}

mat-card {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: 0 auto;
}

mat-card > * {
  margin: 8px 0;
}

.roulette-controls {
  display: flex;
  justify-content: center;
}
