<mat-card>
  <h3>Who's next? 🎲💬</h3>

  <p>Randomly selects the next speaker from all participants.</p>
  <p>Add participants by typing their names below. You can also copy & paste a list of names into the text field.</p>

  <div class="roulette-controls">
    <button mat-raised-button color="primary" [disabled]="participants.length < 2" (click)="onStart()"
      *ngIf="canStart(rouletteState)">
      START
    </button>

    <button mat-button color="primary" (click)="onStart()" *ngIf="canNext(rouletteState)">
      NEXT
    </button>

    <button mat-button (click)="onReroll()" *ngIf="canRestart(rouletteState)">
      UNDO ROLL
    </button>

    <button mat-button color="warn" (click)="onRestart()" *ngIf="canRestart(rouletteState)">
      RESTART
    </button>
  </div>

  <app-roulette-game [items]="participants" (state)="onStateChange($event)" (selected)="onSelectedChange($event)">
    <app-roulette-box></app-roulette-box>
  </app-roulette-game>

  <div class="setup-container" *ngIf="rouletteState === 'ready'">
    <div class="layout-horizontal">
      <app-add-string-form (newItem)="onNewItem($event)" class="spacer"></app-add-string-form>
    </div>

    <app-string-list [(items)]="participants"></app-string-list>
  </div>

  <div class="progress-container" *ngIf="rouletteState !== 'ready'">
    <app-item-selection-columns [items]="participants" [selectedItems]="selectedItems"></app-item-selection-columns>
  </div>
</mat-card>
